In [1]:
print('Hello, world!')

Hello, world!

In [2]:
print('Hello'); print('1234')

Hello
1234

In [3]:
# Hello, world! 출력
print('Hello, world!')

Hello, world!

In [4]:
#print('Hello, world!')
a = 1+ 2 # 더하기
print('Hello, world!') #printf('1234567890')

Hello, world!

In [5]:
a = 1+ 2 # 더하기
print('Hello, world!') #printf('1234567890')

Hello, world!

In [6]:
#print('Hello, world!')
#print('1234567890')

In [7]:
# 더하기
# a = 1 + 2
# print('Hello, world!')

In [8]:
if a == 10:
    print('10입니다.') # 들여쓰기 문법 에러

In [9]:
if a == 10:
print('10입니다.') # 들여쓰기 문법 에러

IndentationError: expected an indented block (3469958868.py, line 2)

In [10]:
1+1

2

In [11]:
1-2; 2*2

4

In [12]:
5/2

2.5

In [13]:
4/2

2.0

In [14]:
5//2

2

In [15]:
3.555+1.22222

4.77722

In [16]:
3.55*+1.2

4.26

In [17]:
0.2467*12+4.159

7.1194

In [18]:
input()

Hello

'Hello'

In [19]:
x=input('Test')

TestTesing now

In [20]:
x

'Tesing now'

In [21]:
x += right?

Object `right` not found.

In [ ]:
x += right

In [22]:
x

'Tesing now'

In [23]:
x += 10

TypeError: can only concatenate str (not "int") to str

In [24]:
x += 'right'

In [25]:
x

'Tesing nowright'

In [26]:
x -= 'right'

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

In [27]:
x = 'test'

In [28]:
x

'test'

In [29]:
print(1, 'Test', 'Hello', sep=", ")

1, Test, Hello

In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
import ast

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import CountVectorizer

reviews = pd.read_csv('./review_test1.csv', encoding='cp949')
print(reviews.shape)
reviews.head(1)

(40881, 3)

  place_name                 review_id                     review_content
0     협재해수욕장  5c99d13b1825f08331533403  뭉게구름과 햇살 아래 맑고 투명한 푸른 바다가 정말 좋아요~

In [2]:
reviews_df = reviews[['review_id', 'review_content', 'place_name']]
pd.set_option('max_colwidth', 1000)
reviews_df[['review_content','place_name']][:1]

                      review_content place_name
0  뭉게구름과 햇살 아래 맑고 투명한 푸른 바다가 정말 좋아요~     협재해수욕장

In [5]:
import collections

In [6]:
isinstance(reviews_df['review_content'], collections.Iterable)

True

In [8]:
reviews_df.info()
#type(('*').join(['review_id', 'place_name']))
('*').join(['review_id', 'place_name'])
reviews_df.info()
reviews_df['review_id'].head(1)
reviews_df['place_name'].head(1)
reviews_df['review_content'].head(1)
print(('*').join(['review_id', 'place_name']))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   review_id       40804 non-null  object
 1   review_content  40013 non-null  object
 2   place_name      40804 non-null  object
dtypes: object(3)
memory usage: 958.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   review_id       40804 non-null  object
 1   review_content  40013 non-null  object
 2   place_name      40804 non-null  object
dtypes: object(3)
memory usage: 958.3+ KB
review_id*place_name

In [9]:
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
reviews_df = reviews_df[reviews_df['review_content'].notnull()]
review_content_mat = count_vect.fit_transform(reviews_df['review_content'])
# review_sim = cosine_similarity(reviews_df['restaurant_name'])
print(review_content_mat.shape)

review_content_sim = cosine_similarity(review_content_mat, review_content_mat)
print(review_content_sim.shape)
print(review_content_sim[:2])

review_content_sim_sorted_ind = review_content_sim.argsort()[:, ::-1]
print(review_content_sim_sorted_ind[:1])

(40013, 341849)
(40013, 40013)
[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]]

MemoryError: Unable to allocate 11.9 GiB for an array with shape (40013, 40013) and data type int64

In [10]:
review_content_sim_sorted_ind = review_content_sim.argsort()[:, ::-1]
print(review_content_sim_sorted_ind[:1])

MemoryError: Unable to allocate 11.9 GiB for an array with shape (40013, 40013) and data type int64

In [11]:
review_content_sim_sorted_ind = review_content_sim.argsort()[:, ::-1]
print(review_content_sim_sorted_ind[:1])

MemoryError: Unable to allocate 11.9 GiB for an array with shape (40013, 40013) and data type int64